.Nav nav {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2000;
}

.Nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Nav li {
  height: 6vh;
}

.Nav li:first-child {
  margin-right: auto;
}

.Nav button {
  background: none;
  border: none;
  padding: 0;
}

.Nav .nav-logo,
.Nav .nav-link {
  text-decoration: none;
  color: #000;
  transition: all 250ms ease-in-out;
  height: 100%;
}

.Nav .nav-logo {
  font-family: "Great Vibes", cursive;
  font-size: 32px;
}

.Nav .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.Nav .nav-link:hover {
  color: #b29d8c;
}

.Nav .nav-link.active {
  text-decoration: underline;
  color: #000;
}

.Nav .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}

.Nav .sidebar .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
}

.Nav .sidebar.open {
  transform: translateY(0);
  opacity: 1;
}

.Nav .sidebar li {
  width: 100%;
}

.Nav .sidebar li,
.Nav .sidebar div {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(20px);
  opacity: 0;
}

.Nav .sidebar.open li,
.Nav .sidebar.open div {
  transform: translateY(0);
  opacity: 1;
}

.Nav .sidebar.open div:nth-of-type(1) {
  transition-delay: 0.3s;
}

.Nav .sidebar.open li:nth-of-type(1) {
  transition-delay: 0.45s;
}

.Nav .sidebar.open li:nth-of-type(2) {
  transition-delay: 0.6s;
}

.Nav .sidebar.open li:nth-of-type(3) {
  transition-delay: 0.75s;
}
