.Navbar .my-navbar {
  background-color: rgba(255, 255, 255, 0.8);
}
.nav-logo {
  font-family: "Great Vibes", cursive;
  font-size: 32px;
}

.Navbar .nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #000;
  transition: all 250ms ease-in-out;
}
.Navbar .nav-link:hover {
  color: #b29d8c;
}
.Navbar .nav-link.active {
  text-decoration: underline;
  color: #000 !important;
}

.Navbar img {
  height: 60px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

@media (max-width: 576px) {
  .nav-logo {
    font-size: 24px;
  }
}
